[submodule "modules/sampler-editor-librarian-dto"]
	path = modules/sampler-editor-librarian-dto
	url = git@github.com:khremeviuc1004/sampler-editor-librarian-dto.git
[submodule "modules/sampler-editor-librarian-client-angular"]
	path = modules/sampler-editor-librarian-client-angular
	url = git@github.com:khremeviuc1004/sampler-editor-librarian-client-angular.git
[submodule "modules/sampler-editor-librarian-client-react"]
	path = modules/sampler-editor-librarian-client-react
	url = git@github.com:khremeviuc1004/sampler-editor-librarian-client-react.git
[submodule "modules/react-dial-knob"]
	path = modules/react-dial-knob
	url = git@github.com:khremeviuc1004/react-dial-knob.git
